@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

html {
    height: 100%;
}
body {
    font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
    height: 100%;
}


/*          */
/*  NAVBAR  */
/*          */
.navbar-custom {
    background-color: #282828;
    color:#fff;
    border-radius:0;
    border: none;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav > li > a {
    color: #989898;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-nav > li > a:hover {
    color: #fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #fff;
    background-color:transparent;
}

/*           */
/*  SIDEBAR  */
/*           */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100%;
}

#wrapper.toggled {
    padding-left: 180px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 180px;
    width: 0;
    height: 100%;
    margin-left: -180px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #282828;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 180px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0;
    min-height: 100%;
    margin-bottom: 0;
    overflow-x: auto;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -180px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    padding-left: 20px;
    text-decoration: none;
    color: #989898;
}
.sidebar-nav li a .icon-container{
    display: inline-block;
    width: 30px;
    text-align: center;
}
.sidebar-nav li a .icon-label{
    display: inline-block;
    margin-left: 6px;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #181818;
}
.sidebar-nav li a.active {
    text-decoration: none;
    background-color: #181818;
    /*border-left: 3px solid #fff;*/
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    background-color: #F5C34C;
    color: #181818;
    margin-bottom: 30px;
}

.sidebar-nav > .sidebar-brand a {
    color: #181818;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #181818;
    background: none;
    border: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 180px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 180px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 0;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    .sidebar-nav > .sidebar-brand-high {
        padding-left: 15px;
    }
    .sidebar-nav > .sidebar-brand-mini {
        display: none;
    }
}

@media(max-width:767px) {
    #wrapper {
        padding-left: 50px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 50px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 0;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    .sidebar-nav li a .icon-label{
        display: none;
    }
    .sidebar-nav li a {
        padding-left: 10px;
    }
    .sidebar-nav > .sidebar-brand-high {
        display: none;
    }
    .sidebar-nav > .sidebar-brand-mini {
        padding-left: 5px;
    }
}

/*           */
/*  Row FIX  */
/*           */

.row-fix {
    margin-right: 0;
    margin-left: 0;
}

/*               */
/*  Custom Link  */
/*               */

a.custom-link {
    margin-left: 5px;
    margin-right: 5px;
    color: #484848;
    text-decoration: none;
}
a.custom-link:hover {
    color: #222;
}
a.trash:hover {
    color: #FF3030;
}
a.hover-green:hover {
    color: limegreen;
}

/*                */
/*  Custom Pager  */
/*                */

ul.custom-pager {
    font-size: 0;
}
ul.custom-pager li a:link,
ul.custom-pager li a:visited,
ul.custom-pager li a {
    color: #989898;
    border: none;
    background-color: #282828;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    font-size: 18px;
    font-weight: bold;
}
ul.custom-pager li a:hover,
ul.custom-pager li a:active {
    color: #fff;
    background-color: #181818;
}

ul.custom-pager li:first-child a {
    border-radius: 18px 0 0 18px;
}

ul.custom-pager li:last-child a {
    border-radius: 0 18px 18px 0;
}


/*              */
/*  Page Title  */
/*              */

.page-title {
    padding-bottom: 25px;
}


/*                    */
/*  Dashboard Panels  */
/*                    */

.custom-panel {
    background-color: #F5C34C;
    border-radius: 0;
    color: #282828;
    border: none;
}
.custom-panel .panel-footer {
    background-color: #282828;
    border: none;
    color: #989898;
    font-weight: bold;
}
.custom-panel a {
    color: #555;
}
.custom-panel a:hover {
    color: #282828;
}



/*              */
/*  List Group  */
/*              */
/*a.custom-list-group-item {*/
    /*border-radius: 0;*/
    /*border: none;*/
    /*background-color: #282828;*/
    /*color: #989898;*/
/*}*/
/*a.custom-list-group-item:active,*/
/*a.custom-list-group-item:hover {*/
    /*background-color: #181818;*/
    /*color: #fff;*/
/*}*/
/*a.custom-list-group-item .custom-list-group-item-heading {*/
    /*color: inherit;*/
/*}*/
/*a.custom-list-group-item .custom-list-group-item-text {*/
    /*color: #555;*/
/*}*/

a.list-group-item p {
    color: #777;
}
.navbar-custom .navbar-brand, .navbar-custom .navbar-nav > li > a.no-hover:hover {
    color: #989898;
}

.hide-position {
    display: none;
    visibility: hidden;
}