@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

html {
    height: 100%;
}
body {
    font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
    height: 100%;
}


/*          */
/*  NAVBAR  */
/*          */
.navbar-custom {
    background-color: #252D3A;
    color:#fff;
    border-radius:0;
    border: none;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav > li > a {
    color: #7992BF;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-nav > li > a:hover {
    color: #fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #fff;
    background-color:transparent;
}

/*           */
/*  SIDEBAR  */
/*           */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100%;
}

#wrapper.toggled {
    padding-left: 180px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 180px;
    width: 0;
    height: 100%;
    margin-left: -180px;
    overflow-y: auto;
    background: #252D3A;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 180px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0;
    min-height: 100%;
    margin-bottom: 0;
    overflow-x: auto;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -180px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    padding-left: 20px;
    text-decoration: none;
    color: #7992BF;
}
.sidebar-nav li a .icon-container{
    display: inline-block;
    width: 30px;
    text-align: center;
}
.sidebar-nav li a .icon-label{
    display: inline-block;
    margin-left: 6px;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #1A202A;
    border-left: 3px solid crimson;
}
.sidebar-nav li a.active {
    text-decoration: none;
    background-color: #1A202A;
    border-left: 3px solid #fff;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    background-color: crimson;
    padding-left: 15px;
    margin-bottom: 30px;
}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
    border: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 180px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 180px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 0;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.row-fix {
    margin-right: 0;
    margin-left: 0;
}