/* 
    Created on : Mar 23, 2015, 12:05:11 AM
    Author     : Olga Gorbatiuk
*/

body {
}
.starter-template {
    /*    text-align: center;*/
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.footer > .container {
    margin-top: 20px;
/*    padding-right: 15px;*/
/*    padding-left: 15px;*/
}
.tablehead{
    font-style: italic;
    background-color: paleturquoise;
}

