@import
	url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

html {
	height: 100%;
}

body {
	font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
	height: 100%;
	overflow-x: hidden;
}

/*          */
/*  NAVBAR  */
/*          */
.navbar-custom {
	background-color: #111;
	color: #fff;
	border-radius: 0;
	border: none;
}

.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

.navbar-custom .navbar-brand, .navbar-custom .navbar-nav>li>a {
	color: #fff;
}

.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus,
	.navbar-custom .navbar-nav>li>a:hover {
	color: #fff;
}

.navbar-custom .navbar-nav>.active>a, .navbar-nav>.active>a:hover,
	.navbar-nav>.active>a:focus {
	color: #fff;
	background-color: transparent;
}

/*           */
/*  SIDEBAR  */
/*           */
#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	height: 100%;
}

#wrapper.toggled {
	padding-left: 180px;
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 180px;
	width: 0;
	height: 100%;
	margin-left: -180px;
	background: #111111;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
	width: 180px;
}

#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 0;
	min-height: 100%;
	margin-bottom: 0;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -180px;
}

/* Sidebar Styles */
.sidebar-nav {
	position: absolute;
	top: 0;
	width: 180px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	line-height: 40px;
}

.sidebar-nav li a {
	display: block;
	padding-left: 20px;
	text-decoration: none;
	color: #fff;
}

.sidebar-nav li a .icon-container {
	display: inline-block;
	width: 30px;
	text-align: center;
}

.sidebar-nav li a .icon-label {
	display: inline-block;
	margin-left: 6px;
}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: #000;
	background-color: #fff;
	border-left: 3px solid crimson;
}

.sidebar-nav li a.active {
	text-decoration: none;
	background-color: #fff;
	border-left: 3px solid #fff;
	color: #000;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
	height: 50px;
	font-size: 18px;
	line-height: 50px;
	background-color: #FFD91C;
	padding-left: 15px;
	margin-bottom: 30px;
}

.sidebar-nav>.sidebar-brand a {
	color: #111;
}

.sidebar-nav>.sidebar-brand a:hover {
	color: #fff;
	background: none;
	border: none;
}

@media ( min-width :768px) {
	#wrapper {
		padding-left: 180px;
	}
	#wrapper.toggled {
		padding-left: 0;
	}
	#sidebar-wrapper {
		width: 180px;
	}
	#wrapper.toggled #sidebar-wrapper {
		width: 0;
	}
	#page-content-wrapper {
		padding: 0;
		position: relative;
	}
	#wrapper.toggled #page-content-wrapper {
		position: relative;
		margin-right: 0;
	}
}

.row-fix {
	margin-right: 0;
	margin-left: 0;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.sidebar-nav2 {
	position: absolute;
	top: 0;
	width: 180px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav2 li {
	line-height: 40px;
}

.sidebar-nav2 li a {
	display: block;
	padding-left: 20px;
	text-decoration: none;
	color: #000;
}

.sidebar-nav2 li a .icon-container {
	display: inline-block;
	width: 30px;
	text-align: center;
}

.sidebar-nav2 li a .icon-label {
	display: inline-block;
	margin-left: 6px;
}

.sidebar-nav2 li a:hover {
	text-decoration: none;
	color: #000;
	background-color: #bbf;
	border-left: 3px solid crimson;
}

.sidebar-nav2 li a.active {
	text-decoration: none;
	background-color: #66f;
	border-left: 3px solid #fff;
	color: #fff;
}

.sidebar-nav2 li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav2>.sidebar-brand {
	height: 50px;
	font-size: 18px;
	line-height: 50px;
	background-color: #FFD91C;
	padding-left: 15px;
	margin-bottom: 30px;
}

.sidebar-nav2>.sidebar-brand a {
	color: #111;
}

.sidebar-nav2>.sidebar-brand a:hover {
	color: #fff;
	background: none;
	border: none;
}

.bottom_line {
	border-bottom: 1px solid #ccc;
	margin-left: 1em;
}
