#map_canvas {
    position: relative;
    width: 55em;
    height: 400px;
    border: 1px solid #C0C0C0;
    display: block;
}

@media screen and (max-width: 1680px) {
    #map_canvas {
        position: relative;
        width: 45em;
        height: 380px;
        border: 1px solid #C0C0C0;
        display: block;
    }
}
@media screen and (max-width: 1360px) {
    #map_canvas {
        position: relative;
        width: 40em;
        height: 380px;
        border: 1px solid #C0C0C0;
        display: block;
    }
}
@media screen and (max-width: 1024px) {
    #map_canvas {
        position: relative;
        width: 35em;
        height: 380px;
        border: 1px solid #C0C0C0;
        display: block;
    }
}