body {
    background-color: #282828;
}

.form-sign {
    max-width: 330px;
    padding-top: 9em;
    padding-bottom: 9em;
    margin: 0 auto;
}
.form-sign .form-sign-heading,
.form-sign .checkbox {
    margin-bottom: 10px;
    color: #989898;
}
.form-sign .form-sign-error-msg {
    margin-bottom: 5px;
    margin-top: 10px;
    color: #D13030;
    visibility: hidden;
}
.form-sign .checkbox {
    font-weight: normal;
}
.form-sign .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-sign .form-control:focus {
    z-index: 2;
}
.form-sign input.error,
.form-sign input.error {
    border-color: #D13030;
}
.form-sign input.error:focus,
.form-sign input.error:focus {
    outline: none;
}
.form-sign input {
    background-color: #282828;
    border-color: #989898;
    color: #989898;
}
/*.form-sign input[type="text"] {*/
.form-sign input:first-child {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
/*.form-sign input[type="password"] {*/
.form-sign input:last-child {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-sign button[type="submit"] {
    background-color: #181818;
    border-radius: 22px;
    color: #fff;
    border: none;
    outline: none;
}
.form-sign button[type="submit"]:hover {
    background-color: #F5C34C;
    color: #181818;
    font-weight: bold;
}
.form-sign button[type="submit"]:focus {
    outline: none;
}