<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

    <beans:bean id="customSuccessHandler"
                class="com.netcracker.tss.web.config.security.CustomSuccessHandler">
    </beans:bean>

    <beans:bean id="encoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
        <beans:constructor-arg name="strength" value="11" />
    </beans:bean>

    <beans:bean id='userDetailsService' class='com.netcracker.tss.web.config.security.CustomUserDetailsService'>
    </beans:bean>

    <beans:bean id="daoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <beans:property name="userDetailsService" ref="userDetailsService"/>
        <beans:property name="passwordEncoder" ref="encoder"/>
    </beans:bean>

    <!-- enable use-expressions -->
    <http auto-config="true" use-expressions="true">

        <intercept-url pattern="/admin/**" access="hasAnyRole('ADMIN', 'BAD_CUSTOMER')" />
        <intercept-url pattern="/driver**" access="hasAnyRole('DRIVER', 'BAD_CUSTOMER')" />
        <intercept-url pattern="/customer**" access="hasAnyRole('CUSTOMER', 'BAD_CUSTOMER')" />

        <!-- access denied page -->
        <access-denied-handler error-page="/403.jsp" />

        <form-login
                login-page="/signin.jsp"
                authentication-failure-url="/signin.jsp?error=true"
                login-processing-url="/auth"
                username-parameter="email"
                password-parameter="password"
                authentication-success-handler-ref="customSuccessHandler"/>
        <logout logout-url="/signout"
                logout-success-url="/" />
    </http>

    <authentication-manager>
        <authentication-provider ref="daoAuthenticationProvider" />
    </authentication-manager>

</beans:beans>